---
layout: default
title: Performances
css: "/static/css/performances.css"
---
{% assign today = site.time | date: "%Y-%m-%d" %}
<div class="show-container">
  <section>
    <h2>Upcoming</h2>
    {% assign by_date = site.performances | sort: "show_date" %}
    {% for show in by_date %}
      {% assign show_day = show.show_date | date: "%Y-%m-%d" %}
      {% if show_day >= today %}
        {% include performance-tile.html show=show %}
      {% endif %}
    {% endfor %}
  </section>
  <section class="past-shows">
    <h2>Past</h2>
    {% assign by_date_desc = site.performances | sort: "show_date" | reverse %}
    {% for show in by_date_desc %}
      {% assign show_day = show.show_date | date: "%Y-%m-%d" %}
      {% if show_day < today %}
        {% include performance-tile.html show=show %}
      {% endif %}
    {% endfor %}
  </section>
</div>
