<article class="show-tile">
  <div class="show-info">
    <div class="show-date">
      <span>{{ include.show.show_date | date: "%a %d %B" }}</span>
      {% if include.show.time != nil and include.show.time != "" %}
      <span>• {{ include.show.time }}</span>
      {% endif %}
    </div>
    <h3 class="show-town">{{ include.show.town }}</h3>
    <span class="show-venue">{{ include.show.venue }}</span>
    {% if include.show.supporting != nil and include.show.supporting != "" %}
    <span>{{ include.show.supporting }}</span>
    {% endif %}
  </div>
  {% if include.show.ticket_url != nil and include.show.ticket_url != "" %}
  <div class="ticket-info">
    <a href="{{ include.show.ticket_url }}" class="ticket-link">Tickets</a>
  </div>
  {% endif %}
</article>
