:root {
  --home-color: #f2f6f5;
  --releases-color: #f8caef;
  --performances-color: #ffd6cc;
  --works-color: #ccd4ff;
  --about-color: rgb(255, 221, 221);

  /* rgb(255, 221, 221) about */
  --inquiry-color: #ffeccf;
  --transition-duration: 3s;
}

body, html {
  margin: 0;
  min-height: 100%;
  transition: background-color var(--transition-duration) ease;
}

.color-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  animation: fadeTransition var(--transition-duration) ease-in-out forwards;
}

@keyframes fadeTransition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 