:root {
--bg-1: #f2f6f5;
--black: black;
--accent: #05345f;
--hover: rgba(174, 136, 0, .35);
--focus: #ae8800;
--bg-2: #d9e5e2;
--white: white;
--text-field: rgba(228, 212, 157, .35);
--code-block: #02271e;
--accent-2: #1875c9;
--azure: rgba(65, 105, 95, .5);
}

html, body {
background-color: var(--bg-1);
margin: 0;
font-family: Verdana, Geneva, sans-serif;
}

html {
    height: 100%;
}

a {
    color: var(--accent);
    text-decoration: underline;
  }

  a:hover, a:focus {
    background-color: var(--hover);
  }

header {
  text-align: center;
}

header a{
  text-decoration: none;
  color: black;
  font-size: 1.25em;
  padding: 0 10px;
}
