body, html {
    /* animation: fadeIn 1s ease-in-out forwards; */
    /* background-color: #ffbbf3; */
  }
  
  @keyframes fadeIn {
    0% {
      background-color: #ffbbf3;
    }
    50% {
      background-color: #bcd7ff;
    }
    100% {
      background-color: #fc9de9;
    }
  }
  

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: #f5f5f5; */
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 50px;
}

.album-description {
    background-color: var(--bg-2);
    border: 2px solid black;
    max-width: calc(95% - 40px);
    padding: 20px;
    font-size: 21px;
}

main a {
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid black;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 20px;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
    display: table;
    border: 2px solid black;
}

tr {
    border: none
}

th {
    border: none;
    background-color: var(--bg-2);
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #f7faf9;
}

td {
    border: none;
    padding: 10px;
}

.embeds {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.album-cover {
    width: 500px;
    max-width: 90%;
    border: 2px solid black;
}

iframe {
    max-width: 95%;
}

.table-container {
    width: 600px;
    max-width: 100%;
}

.credits h3 {
    text-align: center;
}